{% extends 'nijat/layout.html' %}
{% load static %}

{% block body %}
    <div class="absolute_container">
        <img class= "flower_image" src="{% static 'nijat/help_1.jpeg' %}" >
        <div class="text_absolute"> 
            <h1>Nijat Foundation</h1>
            <h3 >
                A waking dream
            </h3>

            <br>
            <button class="button"><a href="/filloutform">SIGN UP</a></button>
             <button class="button"><a href="/login">LOGIN</a></button>
            
           
           
        </div>

    </div>
   

{% endblock %}