
<!DOCTYPE html>

<html>
    <head>
        <title>Nijaat</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'nijat/styles.css' %}">
    </head>
    <body>
        <nav class="nav-bar" >
  
            <h1 class="logo">LOGO</h1>
        
            <ul class="nav-links">
                   <li><a  href="/">Home</a></li>
                   <li><a  href="filloutform">Loan</a></li>
                   <li><a   href="/">FundUs</a></li>
                   <li><a   href="/">ContactUs</a></li>
                
        
            </ul>
            <!--the menu icon appears only on shorter screens-->
            <div class="menu-icon">
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
            </div>
          </nav> 
        {% block body %}

        {% endblock%}
    </body>
</html>